<h2 class="page-header text-center">List of contacts</h2>
<div class="row">
  <p class="col-sm-6 text-center">
    <a href="#contacts/new" class="btn btn-lg btn-outline">Add Contact</a>
  </p>
  <div class="col-sm-2 col-sm-offset-3">
    <input type="text" class="form-control contact-search" placeholder="Search">
  </div>
</div>
<ul class="media-list row contacts-container"></ul>